@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Razor Pages Examples</h1>
        <p>Following lists contains example of different razor pages.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <h5>Components</h5>
        <ul>
            <li><a class="nav-link" asp-area="" asp-controller="SelectLists" asp-action="Index">Drop Down Lists</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="TagHelpers" asp-action="Index">Data Types</a></li>
        </ul>
    </div>

    <div class="col-sm-6">
        <h5>Full Page Samples</h5>
        <ul>
            <li><a class="nav-link" asp-area="" asp-controller="Checkout" asp-action="Index">Checkout</a></li>
        </ul>
    </div>
</div>
<hr>
<div>
    <p><b>Resources</b></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Introduction to <a href="https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.2&tabs=visual-studio">Razor Pages</a>.</p>
</div>
